<div class="row pt-md-5 mt-md-3 mb-5">
  <div class="col-xl-3 col-sm-6 p-2">
    <div class="card card-common">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <i class="fas fa-pause-circle fa-3x text-warning"></i>
          <div class="text-right text-secondary">
            <h5>Loan Pending</h5>
            <h3>0</h3>
          </div>
        </div>
      </div>
      <div class="card-footer text-secondary">
        <i class="fas fa-sync mr-3"></i>
        <span>Total Loans Pending</span>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 p-2">
    <div class="card card-common">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <i class="fas fa-thumbs-up fa-3x text-success"></i>
          <div class="text-right text-secondary">
            <h5>Approved</h5>
            <h3>0</h3>
          </div>
        </div>
      </div>
      <div class="card-footer text-secondary">
        <i class="fas fa-sync mr-3"></i>
        <span>Total Loans Approved</span>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 p-2">
    <div class="card card-common">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <i class="fas fa-money-bill-wave fa-3x text-primary"></i>
          <div class="text-right text-secondary">
            <h5>Running Loans</h5>
            <h3>0</h3>
          </div>
        </div>
      </div>
      <div class="card-footer text-secondary">
        <i class="fas fa-sync mr-3"></i>
        <span>Total Number of Active Loans</span>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 p-2">
    <div class="card card-common">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <i class="fas fa-door-closed fa-3x text-danger"></i>
          <div class="text-right text-secondary">
            <h5>Closed Loans</h5>
            <h3>0</h3>
          </div>
        </div>
      </div>
      <div class="card-footer text-secondary">
        <i class="fas fa-sync mr-3"></i>
        <span>Total Loans Closed</span>
      </div>
    </div>
  </div>
</div>

<!-- Tables-->
<div class="row">
  <div class="col-6">
    <h3 class="text-muted mb-3">Staff Salary</h3>
    <table class="table bg-light table-striped text-center">
      <thead>
        <tr class="text-muted">
          <th>#</th>
          <th>Name</th>
          <th>Salary</th>
          <th>Date</th>
          <th>Contact</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>1</th>
          <td>John Doe</td>
          <td>$2000</td>
          <td>25/12/2020</td>
          <td><button type="button" class="btn btn-sm btn-info">Message</button></td>
        </tr>
        <tr>
          <th>1</th>
          <td>Anita Mill</td>
          <td>$2000</td>
          <td>25/01/2020</td>
          <td><button type="button" class="btn btn-sm btn-info">Message</button></td>
        </tr>
        <tr>
          <th>1</th>
          <td>Uche Jumbo</td>
          <td>$2500</td>
          <td>25/3/2019</td>
          <td><button type="button" class="btn btn-sm btn-info">Message</button></td>
        </tr>
        <tr>
          <th>1</th>
          <td>Okhae Emmanuel</td>
          <td>$1800</td>
          <td>12/02/2020</td>
          <td><button type="button" class="btn btn-sm btn-info">Message</button></td>
        </tr>
        <tr>
          <th>1</th>
          <td>Bolaji Peter</td>
          <td>$1700</td>
          <td>16/08/2020</td>
          <td><button type="button" class="btn btn-sm btn-info">Message</button></td>
        </tr>
        <tr>
          <th>1</th>
          <td>Tobs Amen</td>
          <td>$2000</td>
          <td>25/12/2020</td>
          <td><button type="button" class="btn btn-sm btn-info">Message</button></td>
        </tr>
      </tbody>
    </table>
    <!-- Pagination-->
    <nav>
      <ul class="pagination justify-content-end align-items-center">
        <li class="page-item">
          <a href="#" class="page-link py-2 px-3">
            <span>&laquo;</span>
          </a>
        </li>
        <li class="page-item">
          <a href="#" class="page-link py-2 px-3 active">
            1
          </a>
        </li>
        <li class="page-item">
          <a href="#" class="page-link py-2 px-3">
            2
          </a>
        </li>
        <li class="page-item">
          <a href="#" class="page-link py-2 px-3">
            3
          </a>
        </li>
        <li class="page-item">
          <a href="#" class="page-link py-2 px-3">
            4
          </a>
        </li>
        <li class="page-item">
          <a href="#" class="page-link py-2 px-3">
            <span>&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
    <!-- End of Pagination-->
  </div>
  <div class="col-6">
    <h3 class="text-muted mb-3">Staff Salary</h3>
    <table class="table text-center">
      <thead>
        <tr class="text-muted">
          <th>#</th>
          <th>Name</th>
          <th>Salary</th>
          <th>Date</th>
          <th>Contact</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>1</th>
          <td>John Doe</td>
          <td>$2000</td>
          <td>25/12/2020</td>
          <td><button type="button" class="btn btn-sm btn-info">Message</button></td>
        </tr>
        <tr>
          <th>1</th>
          <td>Anita Mill</td>
          <td>$2000</td>
          <td>25/01/2020</td>
          <td><button type="button" class="btn btn-sm btn-info">Message</button></td>
        </tr>
        <tr>
          <th>1</th>
          <td>Uche Jumbo</td>
          <td>$2500</td>
          <td>25/3/2019</td>
          <td><button type="button" class="btn btn-sm btn-info">Message</button></td>
        </tr>
        <tr>
          <th>1</th>
          <td>Okhae Emmanuel</td>
          <td>$1800</td>
          <td>12/02/2020</td>
          <td><button type="button" class="btn btn-sm btn-info">Message</button></td>
        </tr>
        <tr>
          <th>1</th>
          <td>Bolaji Peter</td>
          <td>$1700</td>
          <td>16/08/2020</td>
          <td><button type="button" class="btn btn-sm btn-info">Message</button></td>
        </tr>
        <tr>
          <th>1</th>
          <td>Tobs Amen</td>
          <td>$2000</td>
          <td>25/12/2020</td>
          <td><button type="button" class="btn btn-sm btn-info">Message</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- End of Tables-->
