<div class="row pt-md-5 mt-md-3 mb-5">
  <div class="col-xl-3 col-sm-6 p-2">
    <div class="card card-common">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <i class="fas fa-pause-circle fa-3x text-warning"></i>
          <div class="text-right text-secondary">
            <h5>Loan Pending</h5>
            <h3>0</h3>
          </div>
        </div>
      </div>
      <div class="card-footer text-secondary">
        <i class="fas fa-sync mr-3"></i>
        <span>Total Loans Pending</span>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 p-2">
    <div class="card card-common">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <i class="fas fa-thumbs-up fa-3x text-success"></i>
          <div class="text-right text-secondary">
            <h5>Approved</h5>
            <h3>0</h3>
          </div>
        </div>
      </div>
      <div class="card-footer text-secondary">
        <i class="fas fa-sync mr-3"></i>
        <span>Total Loans Approved</span>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 p-2">
    <div class="card card-common">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <i class="fas fa-money-bill-wave fa-3x text-primary"></i>
          <div class="text-right text-secondary">
            <h5>Running Loans</h5>
            <h3>0</h3>
          </div>
        </div>
      </div>
      <div class="card-footer text-secondary">
        <i class="fas fa-sync mr-3"></i>
        <span>Total Number of Active Loans</span>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 p-2">
    <div class="card card-common">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <i class="fas fa-door-closed fa-3x text-danger"></i>
          <div class="text-right text-secondary">
            <h5>Closed Loans</h5>
            <h3>0</h3>
          </div>
        </div>
      </div>
      <div class="card-footer text-secondary">
        <i class="fas fa-sync mr-3"></i>
        <span>Total Loans Closed</span>
      </div>
    </div>
  </div>
</div>
